 .u-section-1 {
  background-image: none;
  min-height: 1281px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 74px;
  margin-bottom: 56px;
  min-height: 1151px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 5px;
}

.u-section-1 .u-group-2 {
  width: 610px;
  min-height: 967px;
  height: auto;
  margin: 25px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 5px;
  margin: 0 -20px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 594px;
  background-image: none;
  margin: -1050px auto 0 74px;
}

.u-section-1 .u-image-1 {
  min-height: 795px;
  background-image: url("images/Yo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px 18px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 505px;
    margin-top: 23px;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 554px;
    margin-top: -1251px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 28px;
    margin-right: 0;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1780px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 569px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-group-2 {
    width: 777px;
    margin-top: 250px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 595px;
    margin-top: -1772px;
    margin-right: 103px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 97px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1848px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 637px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: 124px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 554px;
    margin-top: -1904px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    order: 1;
    min-height: 738px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 75px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1997px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 47px;
    min-height: 1920px;
  }

  .u-section-1 .u-group-2 {
    width: 435px;
    margin-top: 554px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 395px;
    margin-top: -1920px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 425px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  margin: 0 570px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 50px 598px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -52px 0 0 598px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 1px 598px 0 0;
}

.u-section-2 .u-image-1 {
  width: 329px;
  height: 33px;
  margin: -30px 148px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: -32px 0 0 1031px;
}

.u-section-2 .u-image-2 {
  width: 281px;
  height: 33px;
  margin: 5px 172px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: -32px 0 39px 922px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 406px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 398px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 831px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 722px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 186px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 178px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 178px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 178px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 611px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 431px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 158px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -160px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 124px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -156px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -29px;
    margin-left: 231px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1px;
    margin-right: -31px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -30px;
    margin-bottom: 86px;
    margin-left: 122px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 538px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 598px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -52px 0 0 598px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 1px 0 0 962px;
}

.u-section-3 .u-image-1 {
  width: 341px;
  height: 36px;
  margin: -36px 145px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: -33px 598px 0 0;
}

.u-section-3 .u-image-2 {
  width: 284px;
  height: 38px;
  margin: -30px 171px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: -31px 0 0 940px;
}

.u-section-3 .u-image-3 {
  width: 284px;
  height: 38px;
  margin: -1px 171px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: -28px 0 0 1059px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -4px 598px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 598px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: -72px 0 0 978px;
}

.u-section-3 .u-image-4 {
  width: 243px;
  height: 38px;
  margin: -44px 191px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 243px;
  height: 38px;
  margin: 0 194px 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: -23px 0 0 978px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 31px 598px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 0 598px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 398px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 398px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 762px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 398px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 740px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 859px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 398px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 398px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 778px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -1px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -24px;
    margin-left: 778px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 398px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 178px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 542px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -105px;
    margin-right: 178px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -35px;
    margin-left: 520px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 9px;
    margin-right: 174px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-left: 639px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 130px;
    margin-right: 178px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 178px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -205px;
    margin-left: 558px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -35px;
    margin-right: 194px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: -32px;
    margin-left: 558px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 151px;
    margin-right: 178px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 64px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-left: 362px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -34px;
    margin-right: auto;
    margin-left: 54px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -159px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 137px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -73px;
    margin-left: 340px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -35px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 6px;
    margin-left: 490px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 165px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: -240px;
    margin-left: 362px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -38px;
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-3 .u-image-5 {
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -29px;
    margin-left: 410px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 231px;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-right: 0;
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 276px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 16px;
    margin-right: 37px;
    margin-left: 125px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    margin-right: 87px;
    margin-left: -87px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -353px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 286px;
    margin-left: -59px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 6px;
    margin-right: 37px;
    margin-left: 103px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -39px;
    margin-left: -59px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -72px;
    margin-right: 37px;
    margin-left: 222px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -315px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 325px;
    margin-right: 37px;
    margin-left: 141px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -78px;
    margin-left: -38px;
  }

  .u-section-3 .u-image-5 {
    margin-left: -38px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -68px;
    margin-right: 37px;
    margin-left: 141px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -312px;
  }
}